
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: #343a40;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
input,button{
  border: 0;
  outline: none;

}
/* reset css */

/* native css */

/* base classes */
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
}
/* base classes end  */
.App-header{
  padding: 30px 0;
  
}
.navbar-header, .app-logo{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}
.navbar-ul , .navbar-li{
  display: flex;
  margin-right: 40px;
  
}
.comments-Parent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.comments-user{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}
.childe-div{
  border: 1px solid black;
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  margin: 30px 0;
  background-color: #211E2F;
  
  
}
.comments-title{
  border: 1px solid black;
  border-radius: 5px;
  padding: 6px 0;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
  text-indent: 15px;
  font-size: 13px;
  transition: all  0.02s linear 0.02s;
  
}
.comments-title:hover{
  background-color: #343a40;
  transition: all  0.02s linear 0.02s;
}
.comments-form{
  max-width: 550px;
  width: 100%;
  margin: 20px 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.comments-input,.second-input{
  width: 78%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: transparent;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  color: aliceblue;
  text-indent: 15px;
  transition: all  0.02s linear 0.02s;
}
.comments-input:hover{
  background-color: #343a40;
  transition: all  0.02s linear 0.02s;
}
.comments-btn,.second-button{
  max-width: 100px;
  width: 100%;
  padding: 5px;
  background: transparent;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px;
  transition: all  0.02s linear 0.02s;
}
.comments-btn:hover{
  background-color: #343a40;
  transition: all  0.02s linear 0.02s;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #343a40; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: aliceblue; 
}